<form  style="height: 1000px;overflow-y: scroll;" [formGroup]="params_tbl_content" class="text-sm space-y-5 tbl-contenidos-modal" (ngSubmit)="GuardarDataCursoTblContenido()" ngNativeValidate>

    <div class="mb-5">
        <label for="txtTituloContenido">Titulo de contenido</label>
        <input id="txtTituloContenido" formControlName="titulo_content" type="text" placeholder="Ingresar Nombre del Curso" class="form-input"  />
    </div>


    <ng-container *ngIf="params_tbl_content.get('id')!.value > 0">
        <div class="mb-5 flex items-center justify-between">
            <label for="txtNameCurso">Crear Temas</label>
            <button  (click)="ModalTemasOpen()"   type="button" class="btn  btn-outline-info btn-sm">
                <icon-plus  class="h-5 w-5" />
            </button>
        </div>

        <!-- caption -->
        <div>
                <div
                    [sortablejs]="TemasContenidoList"
                    [sortablejsOptions]="normalOptions"
                    class="grid grid-cols-1 gap-x-12 sm:grid-cols-3"
                    (sort)="onReorder($event)"
                >                            
                        <ng-container *ngFor="let temas of TemasContenidoList">
                            <div class="mb-2.5" [attr.data-id]="temas">
                                <div class="rounded-md border border-white-light bg-white px-6 py-3.5 dark:border-dark dark:bg-[#1b2e4b]">

                                    <div class="py-sm-2.5 items-md-center block text-center sm:flex ltr:md:text-left rtl:md:text-right" [ngStyle]="{
                                        'background-image': 'url(' + temas.img_fondo + ')',
                                        'background-size': 'contain',
                                        'background-position': 'center',
                                        'background-repeat': 'no-repeat'
                                      }">
                                        <div class="w-90 flex-col items-center justify-between md:flex-row">
                                            <div class="my-3 font-semibold md:my-0">
                                                <div class="text-base text-dark dark:text-[#bfc9d4]"> 
                                                    <div for="" class="w-44 whitespace-normal break-words  ">
                                                        <p  [ngStyle]="{
                                                                'background-color': 'rgba(255, 255, 255, 0.7)'
                                                            }"
                                                        >
                                                            {{  temas.titulo_tema }} 
                                                        </p>
                                                    </div> 
                                                </div>
                                            </div>
                                        </div>

                                        <div class="w-10 flex-col items-center justify-end md:flex-row">
                                            <div class="grid gap-4 grid-cols-1">
                                                <button type="button"  (click)="ModalTemasOpen(temas)" class="btn btn-secondary btn-sm px-1 py-1"> <icon-pencil class="h-3 w-3" /></button>
                                                <button type="button"  (click)="EliminartemasCurso(temas)" class="btn btn-danger btn-sm px-1 py-1"> <icon-trash-lines class="h-3 w-3" /> </button>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="mb-1 border-b border-b-[#f1f2f3] py-1 dark:border-b-dark">
                                        <div for="" class="bg-white truncate italic ">   {{  temas.resumen_tema }} </div>
                                    </div>
                                    
                                    <div class="mb-1 border-b border-b-[#f1f2f3] py-1 dark:border-b-dark">
                                        <div for="" class="bg-white">
                                            <b>Total de archivos: </b>  {{ temas.archivos.length }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                </div>
        </div>

    </ng-container>


    <!-- <ng-container *ngIf="params_tbl_content.get('id')!.value > 0">
        <ng-container *ngIf="QuizContenidoList.length == 0">
            <div class="mb-5 flex items-center justify-between">
                <label for="txtNameCurso">Crear Quiz</label>
                <button  (click)="ModalQuizOpen()"   type="button" class="btn  btn-outline-info btn-sm">
                    <icon-plus  class="h-5 w-5" />
                </button>
            </div>
        </ng-container>


        <div class="mb-5 flex items-center justify-between">
            <label for="txtNameCurso">Quiz</label>
        
        </div>


        <div class="mb-5 flex items-center justify-center">         
            <ng-container *ngFor="let quiz of QuizContenidoList">
                <div class=" w-full bg-white shadow-[4px_6px_10px_-3px_#bfc9d4] rounded border border-[#e0e6ed] dark:border-[#1b2e4b] dark:bg-[#191e3a] dark:shadow-none">

                    <div class="px-6 py-7">
                        <div class="mb-5 inline-block rounded-full bg-[#3b3f5c] p-3 text-[#f1f2f3]">
                            <div class="mx-auto  h-20 w-18 overflow-hidden rounded-full">
                                <img  [src]="quiz.imagen_quiz == null ?  '/assets/imagenes_decoracion/sin-imagen.png' : quiz.imagen_quiz" alt="" class="h-full w-full object-cover" />
                            </div>
                        </div>
                        <h1 class="mb-4 text-xl font-semibold text-[#3b3f5c] dark:text-white-light">{{  quiz.titulo_quiz }}</h1>
                        <h6 class="mb-4 text-xs	 font-semibold text-[#3b3f5c] dark:text-white-light">{{  DuracionTiempo(quiz.tiempo_quiz) }}</h6>

                        <p class="mb-4 text-white-dark">{{  quiz.objetivo_quiz }}</p>
                        <div class="flex flex-1 flex-col items-center justify-between md:flex-row">
                            <div class="grid gap-4 grid-cols-1">
                                <button type="button"  (click)="ModalQuizOpen(quiz)" class="btn btn-info btn-sm px-1 py-1"> <icon-pencil class="h-7 w-7" /></button>
                            </div>
                            <div class="grid gap-4 grid-cols-1">
                                <button type="button"  (click)="EliminarQuizContenido(quiz)" class="btn btn-danger btn-sm px-1 py-1"> <icon-trash-lines class="h-7 w-7" /> </button>
                            </div>
                        </div>
                    </div>
                
                </div>
            </ng-container>
        </div>
    </ng-container> -->

    <button type="submit" class="btn btn-primary ltr:ml-4 rtl:mr-4">{{ params_tbl_content.controls['id'].value ? 'Actualizar' : 'Crear' }} Contenido</button>

</form>


<!-- Modal --> 
<modal #ModalQuiz class="modal-top extra-large-modal animate animate-fade-in-up"  [ngClass]="'animate-fade-in-up'"  [closeOnOutsideClick]="false">
    <ng-template #modalHeader>
        <div class="!font-medium">{{ params_quiz.controls['id'].value ? 'Editar' : 'Registrar' }} Quiz  </div>    
    </ng-template>
    <ng-template #modalBody>
        <app-modal_quiz> </app-modal_quiz>
    </ng-template>
    <ng-template #modalFooter>
        <button type="button" (click)="ModalQuizCerrar()" class="btn btn-outline-danger">Cerrar</button>
    </ng-template>
</modal>

<!-- Modal --> 
<modal #ModalTemas class="modal-top extra-large-modal animate animate-fade-in-up"  [ngClass]="'animate-fade-in-up'"  [closeOnOutsideClick]="false">
    <ng-template #modalHeader>
        <div class="!font-medium">{{ params_temas.controls['id'].value ? 'Editar' : 'Registrar' }} Tema  </div>    
    </ng-template>
    <ng-template #modalBody>
        <app-modal_temas> </app-modal_temas>

    </ng-template>
    <ng-template #modalFooter>
        <button type="button" (click)="ModalTemasOpenCerrar()" class="btn btn-outline-danger">Cerrar</button>
    </ng-template>
</modal>

